<title>Customer List</title>
<h3><a class="btn btn-secondary" href="/customer"><i class="fa fa-plus"></i> Create New</a> Customers <a
        class="btn btn-secondary float-right" href="/email/all"><i class="fa fa-envelope"></i> Send All Emails</a></h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Invoices</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.address}}</td>
            <td><a href="http://localhost/invoice/search/{{this.fullName}}" target="_blank">+</a></td>
            <td>
                <a href="/customer/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/customer/delete/{{this._id}}"
                    onclick="return confirm('Are you sure you would like to to delete this customer?');"><i
                        class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>